<div class='header'>
  <div class='links'>
    <%= link_to "Products", products_path %>
    <%= link_to "My Subscriptions", subscriptions_path %>
    <%= link_to "My Orders", orders_path %>
  </div>
  <div class='user'>
    <%= "Logged in as #{@current_user.first_name}" %>
  </div>
</div>