<h3>My Orders: </h3>
<table id='subscriptions'>
  <tr id='header'>
    <th> Id </th>
    <th> Product </th>
    <th> Status </th>
    <th> From Subscription </th>
    <th> Subscription </th>
    <th> Created At </th>
    <th> Actions </th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><b><%= order.id %></b></td>
      <td><b><%= order.product.name %></b></td>
      <td><b><%= order.status %></b></td>
      <td><b><%= order.subscription_item.present? ? 'Yes' : 'No' %></b></td>
      <td><b><%= link_to 'Subscription', subscription_path(order.subscription_item.subscription_id) if order.subscription_item.present? %></b></td>
      <td><b><%= order.created_at.strftime('%m/%d/%Y %H:%M:%S') %></b></td>
      <td>
        <%= button_to 'Cancel Order', order_path(order.id), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
