<% if @orders.any? %>
  <div id='plans_info'>
    <h4>Orders in this subscription:</h4>
    <table id='subscriptions'>
      <tr id='header'>
        <th> Id </th>
        <th> Product </th>
        <th> Price </th>
        <th> Created At </th>
      </tr>
      <% @orders.each do |order| %>
        <tr>
          <td> <%= order.id %> </td>
          <td> <%= order.subscription_item.product.name %> </td>
          <td> <%= order.price %> </td>
          <td> <%= order.created_at %> </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>