<div id='plans_info'>
  <h4>Products in this subscription:</h4>
  <table id='subscriptions'>
    <tr id='header'>
      <th> Id </th>
      <th> Category </th>
      <th> Product </th>
      <th> Status </th>
      <th> Subscribed At </th>
      <th> Actions </th>
    </tr>
    <% @subscription_items.each do |si| %>
      <tr>
        <td> <%= si.id %> </td>
        <td> <%= si.product.category.name %> </td>
        <td> <%= si.product.name %> </td>
        <td> <%= si.status %> </td>
        <td> <%= si.created_at %> </td>
        <td>
          <%= button_to 'Unsubscribe', si, method: :delete if si.available? %>
        </td>
      </tr>
    <% end %>
  </table>
</div>