<div id='subscription_info'>
  <div>
    <label> ID: </label>
    <b><%= @subscription.id %></b>
  </div>
  <div>
    <label> Category: </label>
    <b><%= @subscription.get_category.name %></b>
  </div>
  <div>
    <label> Status: </label>
    <b><%= @subscription.status %></b>
  </div>
  <div>
    <label> Created At: </label>
    <b><%= @subscription.created_at.strftime('%m/%d/%Y %H:%M:%S') %></b>
  </div>
</div>