<h3>My subscriptions: </h3>
<table id='subscriptions'>
  <tr id='header'>
    <th> Id </th>
    <th> Category </th>
    <th> Status </th>
    <th> Subscribed At </th>
    <th> Products </th>
    <th> Actions </th>
  </tr>
  <% @subscriptions.each do |subscription| %>
    <tr>
      <td><b><%= subscription.id %></b></td>
      <td><b><%= subscription.get_category.name %></b></td>
      <td><b><%= subscription.status %></b></td>
      <td><b><%= subscription.created_at.strftime('%m/%d/%Y %H:%M:%S') %></b></td>
      <td>
        <%= subscription.subscription_items.map {|si| si.product.name }.join(', ') %>
      </td>
      <td>
        <%= button_to 'Unsubscribe', subscription, method: :delete if subscription.available? %>
        <%= button_to 'View', subscription_path(subscription.id), method: :get %>
      </td>
    </tr>
  <% end %>
</table>
