/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/



body{
  margin: 0;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 46px; 
  background-color: #CCC;
}

.header > .links{
  margin: 15px;
  float: left;
}

.header > .user {
  margin: 15px;
  float: right;
}

.header > .links > a{
  margin-left: 10px;
}

.main-container{
  margin: 15px;
}
