.flash {
  position: absolute;
  margin-left: 30%;
  margin-top: 45px;
  padding: 15px;
}
.flash:before{
  font-style:bold;
  font-weight:400;
  display:inline-block;
  text-decoration:inherit;
  width:1em;
  margin-right:.2em;
  text-align:center;
  font-variant:normal;
  text-transform:none;
  line-height:1em;
  margin-left:.2em;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

.flash.notice {
  color: #00529B;
  background-color: #BDE5F8;
}
.flash.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.flash.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.flash.error {
  color: #D8000C;
  background-color: #FFD2D2;
}