#subscriptions {
  width: 100%;
}

#subscriptions td, #subscriptions th {
  border: 1px solid #ddd;
  padding: 8px;
}

#subscriptions tr:nth-child(even){background-color: #f2f2f2;}

#subscriptions tr:hover {background-color: #ddd;}

#subscriptions th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(56, 56, 56);
  color: white;
}

#subscription_info{
  padding-top: 12px;
  padding-left: 5px;
  padding-bottom: 12px;
  width: 100%;
  border: 1px solid #ddd;
  div{
    margin-bottom: 5px;
  }
}