<div class="products">
  <%= image_tag(product.image_path) %>
  <div class='products-info'>
    <h4><b><%= product.name.capitalize %></b></h4> 
    <h5><b>Category: <%= category.name %></b></h5> 
    <div style='display: inline-block'>
      <%= button_to 'Reorder', product_reorder_url(product_id: product.id), method: :post %>
      <%= button_to 'Subscribe', product_subscribe_url(product_id: product.id), method: :post %>
      <%= button_to 'Unsubscribe', product_unsubscribe_url(product_id: product.id), method: :delete %>
    </div>
  </div>
</div>