<h3>Products: </h3>
<div class="container">
  <% @categories.each do |category| %>
    <% category.products.each do |product| %>
      <%= render product, category: category %>
    <% end %>
  <% end %>
</div>
