<!DOCTYPE html>
<html>
<head>
  <title>EasyDash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/shared/flash' %>
  <%= render partial: 'layouts/shared/header' %>
  <div class='main-container'>
    <%= yield %>
  </div>

</body>
</html>
